In [117]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\achal\appdata\roaming\python\python311\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\achal\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\achal\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\achal\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\achal\appdata\roaming\python\python311\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\achal\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [118]:
import pandas as pd
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\achal\appdata\roaming\python\python311\site-packages (1.24.3)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [119]:
df = pd.read_csv("tradelog.csv")

In [120]:
df

,Unnamed: 0,Ticker,Entry Time,Entry Price,Exit Time,Exit Price
0,1,BANKNIFTY09JUL2022800PE,08-07-2020 09:29,301.00,08-07-2020 13:15,163.50
1,2,BANKNIFTY09JUL2022700CE,09-07-2020 09:29,166.75,09-07-2020 10:34,162.50
2,3,BANKNIFTY09JUL2022700PE,09-07-2020 09:29,147.00,09-07-2020 10:34,110.55
3,4,BANKNIFTY16JUL2022700CE,10-07-2020 09:29,437.55,10-07-2020 15:24,295.10
4,5,BANKNIFTY16JUL2022700PE,10-07-2020 09:29,403.15,10-07-2020 15:24,555.20
...,...,...,...,...,...,...
244,245,BANKNIFTY31DEC2031300PE,29-12-2020 09:29,274.60,29-12-2020 13:10,216.65
245,246,BANKNIFTY31DEC2031200CE,30-12-2020 09:29,283.90,30-12-2020 10:24,248.25
246,247,BANKNIFTY31DEC2031200PE,30-12-2020 09:29,240.10,30-12-2020 10:24,221.70
247,248,BANKNIFTY31DEC2031300CE,31-12-2020 09:29,173.85,31-12-2020 10:37,161.80
248,249,BANKNIFTY31DEC2031300PE,31-12-2020 09:29,124.00,31-12-2020 10:37,105.05

In [121]:
df["Exit Price"].count()

249

In [122]:
df1 = pd.DataFrame(df)
df1["Profit"]=df1["Exit Price"]-df1["Entry Price"]
df1["Profit"]

0     -137.50
1       -4.25
2      -36.45
3     -142.45
4      152.05
        ...
244    -57.95
245    -35.65
246    -18.40
247    -12.05
248    -18.95
Name: Profit, Length: 249, dtype: float64

In [123]:
len(df)

249

In [124]:
df1["Profitable Trade"]=df1["Profit"]>0

In [125]:
df1[df1["Profitable Trade"]>0]

,Unnamed: 0,Ticker,Entry Time,Entry Price,Exit Time,Exit Price,Profit,Profitable Trade
4,5,BANKNIFTY16JUL2022700PE,10-07-2020 09:29,403.15,10-07-2020 15:24,555.20,152.05,True
6,7,BANKNIFTY16JUL2022600PE,13-07-2020 09:29,356.50,13-07-2020 11:11,590.85,234.35,True
8,9,BANKNIFTY16JUL2021800PE,14-07-2020 09:29,328.55,14-07-2020 10:56,513.65,185.10,True
9,10,BANKNIFTY16JUL2021600CE,15-07-2020 09:29,265.65,15-07-2020 12:03,329.25,63.60,True
11,12,BANKNIFTY16JUL2021100CE,16-07-2020 09:29,135.80,16-07-2020 09:48,244.95,109.15,True
...,...,...,...,...,...,...,...,...
234,235,BANKNIFTY24DEC2030300PE,21-12-2020 09:29,309.05,21-12-2020 13:37,498.35,189.30,True
237,238,BANKNIFTY24DEC2029600CE,23-12-2020 09:29,218.15,23-12-2020 14:13,306.85,88.70,True
239,240,BANKNIFTY24DEC2030200CE,24-12-2020 09:29,139.45,24-12-2020 10:15,254.10,114.65,True
241,242,BANKNIFTY31DEC2030800CE,28-12-2020 09:29,328.80,28-12-2020 13:43,348.15,19.35,True
243,244,BANKNIFTY31DEC2031300CE,29-12-2020 09:29,272.15,29-12-2020 13:10,274.75,2.60,True

In [126]:
number_of_profitable_trade= (df1["Profitable Trade"]==True).value_counts()

In [127]:
number_of_profitable_trade

Profitable Trade
False    153
True      96
Name: count, dtype: int64

Profitable Trade = 96
Non-Profitable Trade = 153
Total Trade = 249

In [153]:
Profitable_Trade = 96
Non_Profitable_Trade = 153
Total_Trade = 249
Win_rate = Profitable_Trade/Total_Trade
print(Win_rate)

0.3855421686746988

In [154]:
Total_Profit = df1[df1["Profit"]>0]["Profit"].sum()
Average_profit_per_trade  = Total_Profit/Total_Trade 
Average_profit_per_trade

40.691566265060246

In [155]:
Total_Profit

10132.2

In [156]:
Total_Loss = df1[df1["Profit"]<0]["Profit"].sum()
Average_Loss_per_trade = Total_Loss/Total_Trade 
abs(Average_Loss_per_trade)

46.75742971887551

In [157]:
Risk_Reward_ratio = Average_profit_per_trade / abs(Average_Loss_per_trade)
Risk_Reward_ratio

0.8702695274251456

In [158]:
Loss_rate = 1-Win_rate
Expectancy = (Win_rate*Average_profit_per_trade)-(Loss_rate*abs(Average_Loss_per_trade))
Expectancy

-13.04215415880389

In [159]:
df1['Returns'] = (df1['Exit Price'] - df1['Entry Price']) / df1['Entry Price']
df1['Returns']

0     -0.456811
1     -0.025487
2     -0.247959
3     -0.325563
4      0.377155
         ...
244   -0.211034
245   -0.125572
246   -0.076635
247   -0.069313
248   -0.152823
Name: Returns, Length: 249, dtype: float64

In [160]:
Risk_free_interest = 5
df1['Excess Returns'] = df1['Returns'] - Risk_free_interest
df1['Excess Returns']

0     -5.456811
1     -5.025487
2     -5.247959
3     -5.325563
4     -4.622845
         ...
244   -5.211034
245   -5.125572
246   -5.076635
247   -5.069313
248   -5.152823
Name: Excess Returns, Length: 249, dtype: float64

In [161]:
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\achal\appdata\roaming\python\python311\site-packages (1.24.3)

In [162]:
import numpy as np

In [180]:

annualized_mean = df1['Excess Returns'].mean() * 249
annualized_std = df1['Excess Returns'].std() * np.sqrt(249)
sharpe_ratio = annualized_mean / annualized_std
sharpe_ratio

-217.6593129815842

In [181]:
df1['Cumulative Returns'] = (1 + df1['Returns']).cumprod()

In [182]:
df1['Running Maximum'] = df1['Cumulative Returns'].cummax()

In [183]:
df1['Drawdown'] = df1['Cumulative Returns'] - df1['Running Maximum']

In [184]:
max_drawdown = df1['Drawdown'].min()

In [185]:
max_drawdown

-0.5491326272135059

In [186]:
max_drawdown_pct = (df1['Drawdown'] / df1['Running Maximum']).min() * 100

In [187]:
max_drawdown_pct

-99.9999999328563

In [188]:
total_return = (1 + df1['Returns']).prod()

In [189]:
num_years = len(df) / 249

In [190]:
cagr = (total_return ** (1/num_years)) - 1

In [191]:
cagr

-0.999999999631292

In [193]:
annual_return = (df1['Cumulative Returns'].iloc[-1] / df1['Entry Price'].iloc[0]) ** (1 / (len(df1) / 249)) - 1
annual_return

-0.9999999999987751

In [194]:
calmar_ratio = annual_return / abs(max_drawdown)

In [195]:
calmar_ratio

-1.8210536953033196

In [196]:
df1.to_csv("assignment.csv")